@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.header-img {
    height: 72px;

}

.navigator {
    display: flex;
    gap: 32px;
}
.header-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}
.master {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}
.master-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.master-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main-menu-item-title{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.main-menu-item-subtitle{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}
.main-menu-item-button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325
}

.main-menu-item-button:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.main-menu-item-img{
    height: 430px;
}

.second-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 48px;
}
.second-conteudo-title{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.second-conteudo-paragraf{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px; 
    color: #ECD6C4;
}

.footer{
    border-top: 0.4px solid #FFF2E7;
    padding: 36px;
}
.footer-img {
    height: 48px;
    display: block;
    margin: 0 auto;
}